@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        1 Đường 1<br />
        Quận 1, Tp.Hồ Chí Minh<br />
        <abbr title="Phone">P:</abbr>
        0846772473
    </address>

    <address>
        <strong>Hỗ Trợ:</strong>   <a href="mailto:Support@example.com">FB</a><br />
        <strong>Quảng Bá:</strong> <a href="mailto:Marketing@example.com">Email</a>
    </address>
</main>